.pwrapper, .cwrapper{
    display: grid;
    background-color: gray;
}
.pwrapper{
    margin-right: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.label{
    background-color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.labelRow{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.row{
    display: flex;
}
.cell{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}