.pwrapper, .cwrapper{
    display: grid;
    background-color: gray;
}
.pwrapper{
    margin-right: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.row{
    display: flex;
}
.cell{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}